@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
}
body{
    /* background-color: #e2ebeb; */
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* --------------------
    hero area start 
    ------------------ */
.hero-area{
    background-color: #2D25A0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    
}

.hero-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.half-width{
    width: 400px;
    margin-left: 50px;

}
#big-text{
    color: #ffff;
    font-size: 50px;
}
.big-title a{
    text-decoration: none;
    color: #ffff;
    background-color: #e02c6d;
    padding: 12px 25px;

}
#hero-link{
    margin-top: 17px;
}
/* button hover transition */
.big-title a:hover{
    padding:12px 30px;
    transition: padding 0.5s;
}
.half-width img{
    width: 456px;
    margin-top: 63px;
}
/* hero img transition */

.half-width img:hover{
    transform: scale(0.9) skewY(8deg);
    transition: transform 1s;
}
/* -----------------------
    player area start
    ---------------------- */
    .container{
        padding: 50px 0;
    }
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    
}
.player{
    width: 330px;
    height: 474px;
    padding: 12px;
    box-shadow: 1px 1px 10px -5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    background-color: #fffF;
}
.thumbnail img{
    width: 100%;
    
}
.small-text{
    font-size: 14px;
    font-weight: 400;
    color: #c9c8c8;
}

/*-----------------------
     Packages Area 
----------------------*/
.packages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
}
.pack{
    width: 220px;
    height: 220px;
    padding: 12px;
    box-shadow: 1px 1px 10px -5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: center; */
    background-color: #fffF;
}
.fa-btc, .fa-cc-visa, .fa-paypal{
    font-size: 90px;
    color: #e02c6d;
}
.payment-option-text{
    margin-top: 10px;
    font-size: 30px;
    color: #e02c6d;
}



/*---------------------
    Subcription area
 ----------------------  */

.offer-text,h1{
    text-align: center;
    color: dimgray;
    font-size: 35px;
    margin-bottom: 30px;
}


.form-fill>.input-form{
    margin-left: 10px;
    padding: 12px 115px;
    border: 2px solid #e02c6d;
    border-radius: 4px;
}


.click-button{
    text-decoration: none;
     color: #ffff;
     border: 1px solid transparent;
     font-size: 16px;
     font-weight: 600;
     padding: 12px 40px;
     border-radius: 10px;
     background-color: #e02c6d;
     margin-left: 10px;
     
}
.mail-content{
    display: flex;
}

/* .mail-wrap{
    margin: 40px 20px;
    padding: 70px 0px;
} */

/* -------------------------
    footer area start 
------------------------*/

.footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-main>img{
    width: 475px;
}

/* font awesome icons */
.social-icon{
    font-size: 30px;
    color: #b6b6b6;
    margin-right: 10px;

}
.social-logos{
    width: 170px;
    height: 32px;
    margin-bottom: 20px;
}

/* --------------------------
    Media Query 
--------------------------*/

/* Mobile Devices */

@media only screen and (max-width:688px) {
    body{
        /* padding: 0 5px; */
    }
    /* header area */
    .hero-area{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    main{
        width: 100%;
    }
    .hero-wrap{
        flex-direction: column;
    }
    .half-width{
        width: 300px;
    }
    .half-width img{
        width: 80%;
    }
    #big-text{
        font-size: 30px;
    
    }
    /* players area & Pakage area */
    
    .players, .packages{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        justify-items: center

    }
    /* subscribtion area */
    .mail-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
        /* padding: 0px 8px;
        margin-left: 62px; */
    }
    .click-button{
        margin-top: 10px;
    }

    /* footer area */
    .footer-main img{
        width: 70%;
    }
    .footer-main{
        width: 285px;
    }
    .foot-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}